    <div class="gv-head-slice">

        <div class="gv--image-wrapper">
            <div class="gv-slice-col col-one">
                <div class="gv--image-holder stamp-one"> </div>
                <div class="gv--image-holder head-one" id="headOne"> </div>
             </div>
            
             <div class="gv-slice-col col-two">
                <div class="gv--image-holder stamp-two"> </div>
                <div class="gv--image-holder head-two" id="headTwo"> </div>
             </div>

             <div class="gv-slice-col col-three">
                <div class="gv--image-holder stamp-three"></div>
                <div class="gv--image-holder head-three" id="headThree"></div>
             </div>

        </div>

    </div>




